<div class="container">
    <div class="container-two">
        <div class="banner">
            <div class="banner-child-1">
            </div>
            <div class="banner-child">
                <img src="../../../assets/images/titulo-iz.svg" class="title-header">
                <h1 class="participate">¡Participa!</h1>
                <img src="../../../assets/images/titulo-der.svg" class="title-header">
            </div>
            <div class="banner-child-1">
                
            </div>
        </div>
        <div class="container-tree">
            <div class="banner">
                <div class="banner-child-2">
                </div>
                <div class="banner-child-3">
                    <p class="legend">
                        Regístrate, escribe una cardlaverita en la que menciones a RappiCard de máximo 130 palabras. Puedes hablar de cashback, beneficios, experiencias o lo que más te guste de tu tarjeta, elige tu marco favorito y compártela con todo el mundo.
                    </p>
                </div>
                <div class="banner-child-2">
                    
                </div>
            </div>
            <div class="banner">
                <div class="banner-child-2">
                </div>
                <div class="banner-child-3">
                    <!--Primer tab-->
                    <mat-tab-group  dynamicHeight>
                        <!--Tab 1 registro o login-->
                        <mat-tab label="1. Información personal">
                            <!--Botones de redes sociales deben de estar en ambas-->
                            <br>
                            <div class="login-form"> 
                                <div class="patern-button">
                                    
                                    <div class="buttons-login-social">
                                    </div>
                                    <div class="buttons-login-social-1">
                                        <button
                                            type="submit"
                                            id="buttonProfile"
                                            mat-raised-button
                                            class="btn-block button-social"
                                            (click)="loginWithFacebook()">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
                                            Entrar con Facebook
                                        </button>
                                        <asl-google-signin-button type="standard" size="large"> </asl-google-signin-button>
                                    </div>
                                    <div class="buttons-login-social">
                                    </div>
                                </div>
                                
                                <!--Segundo Tab de registro o inicio de sesión-->
                                <div class="patern-button">
                                    <div class="buttons-login-social-child">
                                    </div>
                                    <div class="buttons-login-social-child-1">

                                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                                            <!--Registrarse-->
                                            <mat-tab label="Registrarse">
                                                <br>
                                                <form [formGroup]="loginForm" (ngSubmit)="register()" class="form">
                                                    <mat-form-field appearance="outline" class="fields" >
                                                        <mat-label>Nombre</mat-label>
                                                        <input type="text"
                                                                onkeydown="return /[a-z, ]/i.test(event.key)"
                                                                formControlName="nameUser"
                                                                matInput>
                                                    </mat-form-field>
                                                    <mat-form-field class="fields" appearance="outline">
                                                        <mat-label>Apellidos</mat-label>
                                                        <input type="text"
                                                                onkeydown="return /[a-z, ]/i.test(event.key)"
                                                                formControlName="lastNameUser"
                                                                matInput>
                                                    </mat-form-field>
                                                    <mat-form-field class="fields" appearance="outline">
                                                        <mat-label>Email</mat-label>
                                                        <input type="email"
                                                                formControlName="emailUser"
                                                                (keydown.space)="$event.preventDefault()"
                                                                matInput>
                                                    </mat-form-field>
                                                    
                                                    <mat-form-field class="fields" appearance="outline">
                                                        <mat-label>Contraseña</mat-label>
                                                        <input type="password"
                                                            formControlName="passwordUser"
                                                            (keydown.space)="$event.preventDefault()"
                                                            matInput>
                                                    </mat-form-field>
                                                    <mat-form-field class="fields" appearance="outline">
                                                        <mat-label>Confirmar contraseña</mat-label>
                                                        <input type="password"
                                                            formControlName="confirmPassword"
                                                            (keydown.space)="$event.preventDefault()"
                                                            matInput>
                                                    </mat-form-field>
                                                    <div *ngIf="loginForm.hasError('passwordMismatch')" class="fields">
                                                        Las contraseñas no coinciden.
                                                    </div>
                                                    <br>
                                                    <button mat-fab 
                                                            extended 
                                                            color="primary" 
                                                            class="button-register" 
                                                            type="submit"
                                                            style="width: 93%;">
                                                        Siguiente    
                                                    </button>
                                                </form>
                                            </mat-tab>
                                            <!--Iniciar sesión-->
                                            <mat-tab label="Iniciar sesión">
                                                <br>
                                                <form [formGroup]="loginUserForm" (ngSubmit)="login()" class="form">
                                                        <mat-form-field appearance="outline" class="fields">
                                                            <mat-label>Correo</mat-label>
                                                            <input type="email"
                                                                    formControlName="emailUserLogin"
                                                                    matInput
                                                                    (keydown.space)="$event.preventDefault()">
                                                        </mat-form-field>
                                                        <mat-form-field appearance="outline" class="fields">
                                                            <mat-label>Contraseña</mat-label>
                                                            <input type="password"
                                                                    formControlName="passwordUserLogin"
                                                                    matInput
                                                                    (keydown.space)="$event.preventDefault()">
                                                        </mat-form-field>
                                                        
                                                            <button
                                                            mat-fab 
                                                            extended 
                                                            color="primary" 
                                                            class="button-register" 
                                                            type="submit"
                                                            style="width: 93%;">
                                                                Ingresar
                                                            </button>
                                                        
                                                    </form>
                                            </mat-tab>
                                        </mat-tab-group>
                                    </div>
                                    <div class="buttons-login-social-child">
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="2. Cardlaverita">
                            <!--Aqui va el otro formulario-->
                            <br>
                            <h2 class="title-section-cardlaverita">Cardlaverita</h2>
                            <form [formGroup]="skullForm" (ngSubmit)="createSkull()" class="form">
                                <mat-form-field appearance="outline" class="fields" >
                                    <mat-label>Titulo</mat-label>
                                    <input type="text"
                                            onkeydown="return /[a-z, ]/i.test(event.key)"
                                            formControlName="skullTitle"
                                            matInput>
                                </mat-form-field>
                                <mat-form-field class="fields" appearance="outline">
                                    <mat-label>Texto</mat-label>
                                    <textarea matInput 
                                    placeholder="Escribe aqui"
                                    formControlName="skullText"></textarea>
                                </mat-form-field>
                                <mat-form-field class="fields" appearance="outline">
                                    <mat-label>Marco</mat-label>
                                    <mat-select
                                        placeholder="Seleccione un marco"
                                        matInput
                                        formControlName="skullImageRoute"
                                        required>
                                        <mat-option *ngFor="let framesSkull of framesSkulls" [value]="framesSkull.value">
                                            <img [src]="framesSkull.imageUrl" alt="{{framesSkull.viewValue}}" width="60" height="60">
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-error class="error-field">Campo obligatorio, favor de llenarlo</mat-error> -->
                                </mat-form-field>
                                <p class="acceptTerms"><mat-checkbox formControlName="acceptTerms" ><span class="acceptTerms"> Acepto la politica de privacidad,<b>Terminos y condiciones</b></span> </mat-checkbox></p>
                                <br>
                                <button mat-fab 
                                        extended 
                                        color="primary" 
                                        class="button-register" 
                                        type="submit"
                                        style="width: 93%;">
                                    Siguiente    
                                </button>
                            </form>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="banner-child-2">
                </div>
            </div>
        
                <!-- <div class="login-form"> 
                    <div class="patern-button">
                        <div class="buttons-login-social">
                        </div>
                        <div class="buttons-login-social-1">
                            <button
                                type="submit"
                                id="buttonProfile"
                                mat-raised-button
                                class="btn-block button-social"
                                (click)="loginWithFacebook()">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
                                Entrar con Facebook
                            </button>
                            <asl-google-signin-button type="standard" size="large"> </asl-google-signin-button>
                        </div>
                        <div class="buttons-login-social">
                        </div>
                    </div>
                    <br>
                    
                    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
                        <p class="legend">O ingresa tus datos</p>
                        <mat-form-field appearance="outline" class="fields" >
                            <mat-label>Nombre</mat-label>
                            <input type="text"
                                    onkeydown="return /[a-z, ]/i.test(event.key)"
                                    formControlName="nameUser"
                                    matInput>
                        </mat-form-field>
                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Apellidos</mat-label>
                            <input type="text"
                                    onkeydown="return /[a-z, ]/i.test(event.key)"
                                    formControlName="lastNameUser"
                                    matInput>
                        </mat-form-field>
                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="email"
                                    formControlName="emailUser"
                                    (keydown.space)="$event.preventDefault()"
                                    matInput>
                        </mat-form-field>
                        
                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input type="password"
                                formControlName="passwordUser"
                                (keydown.space)="$event.preventDefault()"
                                matInput>
                        </mat-form-field>
                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Confirmar contraseña</mat-label>
                            <input type="password"
                                formControlName="confirmPassword"
                                (keydown.space)="$event.preventDefault()"
                                matInput>
                        </mat-form-field>
                        <div *ngIf="loginForm.hasError('passwordMismatch')" class="fields">
                            Las contraseñas no coinciden.
                        </div>
                        <br>
                        <button mat-fab 
                                extended 
                                color="primary" 
                                class="button-register" 
                                type="submit">
                            Siguiente    
                        </button>
                    </form>
                </div> -->
                <br>
                <div class="buttons-login">
                    <button mat-fab extended color="primary" class="return" (click)="returnDashboard()">
                        <!-- <mat-icon>favorite</mat-icon> -->
                        Ir al inicio
                    </button>
                    <!-- <div class="login">
                        <div id="g_id_onload"
                            data-client_id="430162545403-delr0sfitq6ouv3m0ifjhpnvvtm2auu0.apps.googleusercontent.com"
                            data-login_uri="http://localhost"
                            data-auto_prompt="false">
                        </div>
                        <div class="g_id_signin"
                            data-type="standard"
                            data-size="large"
                            data-theme="outline"
                            data-text="sign_in_with"
                            data-shape="rectangular"
                            data-logo_alignment="left">
                        </div>
                    </div> -->
                    <br>
                    <!-- <div class="login-social"> -->
                        <!-- <button
                            type="submit"
                            id="buttonProfile"
                            mat-raised-button
                            class="btn-block"
                            (click)="signInWithGoogle()">
                            Iniciar sersión con Google
                        </button> -->
                        <!-- <button (click)="signInWithGoogle()">Iniciar sesión con Google</button> -->
                        <!-- <asl-google-signin-button>Iniciar sesión con Google</asl-google-signin-button> -->
                        <!-- <asl-google-signin-button type='icon' size='medium'>Test</asl-google-signin-button> -->
                        <!-- <br>
                        <button
                            type="submit"
                            id="buttonProfile"
                            mat-raised-button
                            class="btn-block"
                            (click)="loginWithFacebook()">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
                            Iniciar sesión con Facebook
                        </button> -->
                    <!-- </div> -->
                    <!-- <br>
                    <div class="login">
                        <button
                            type="submit"
                            id="buttonProfile"
                            mat-raised-button
                            class="btn-block"
                            (click)="openDialog()">
                            Registrarse
                        </button>
                    </div> -->
                </div>
        </div>
    </div>
</div>