/* p{
    color: white;
    font-size: 25px;
} */

.container{
    width: 100%;
}
.header-image{
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
}

.header-1{
    width: 28%;
}

.header-2{
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardlaverita{
    width: 100%;
    background-color: #3B3B3B;
    display: flex;
}

.container-body{
    width: 10%;
}

.container-body-1{
    width: 80%;
    display: flex;
    flex-direction: column;
}

h3{
    color: white;
}

p{
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}

.buttons-conainer{
    display: flex;
}

.space{
    width: 27%;
}

.button-space{
    display: flex;
    width: 56%;
    display: flex;
    justify-content: space-between;
}

.mdc-button__label{
    display: flex !important;
    align-items: center !important;
}

.button-space-return{
    width: 56%;
    display: flex;
    justify-content: center;
}

.return{
    width: 40%;
}