<div class="patern">
    <br>
    <div class="child">
        <div class="title">
            <h2>¿Esta seguro de su voto?</h2>
            <p>Una vez que haya realizado su voto, este no podrá ser eliminado ó modificado</p>
        </div>
        <div class="buttons">
            <button
                type="submit"
                id="buttonProfile"
                mat-raised-button
                class="btn-block"
                (click)="confirmVote()">
                Confirmar
            </button>
            <button
                type="submit"
                id="buttonProfile"
                mat-raised-button
                class="btn-block"
                (click)="closeDialog()">
                Cancelar
            </button>
        </div>
    </div>
    <br>
</div>
